

html, body {
    background-color: darkgray;
    color: white;
    font-family: helvetica, arial, sans-serif;
    font-size: 1.3rem;
    padding: 70px;
}

button {
    padding: 15px;
    font-size: 1.3rem;

}